body {
  text-align: center;
  background: url("http://i.imgur.com/roewF51.jpg");
  background-size: cover;

  font-family: Arial;
  margin: 0 auto;
  color: white;
  position: center;
}

header {

  font-family: 'Advent Pro', sans-serif;
  font-size: 50px;
  margin-top: 9%;
  margin-bottom: 0px; padding-bottom: 0px;
  position: relative;
  text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}

h2 {
  font-family: 'Advent Pro', sans-serif;
  font-size: 20px;

  position: relative;
}

section {
      background-position: center;
      border: 3px solid black;
      border:25px;
      padding: 10px;
      position:relative;

      background-color: rgba(0,0,0,0.5);
    }

.menu {
  display: inline;
}
.entry {
  font-size: 20px;
}

ul {
  border-color: white;
  padding: 20px;
}

li {
  padding: 5px;
}

a {
  color: white;
}

@media (max-width: 1400px) {
         body {
           background-size: auto;
         }
       }

@media (max-width: 400px) {
     h1 {
       font-size: 36px;
     }
     li {
       display: block;
       padding: 5px;
     }
}
