<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>uScheme</title>


    <!-- Custom styles for this template -->
    <!--<link href="{{ url_for('static', filename='static/css/starter-template.css')}}" rel="stylesheet" type="text/css" />-->
    <link rel="stylesheet" type="text/css" href="../static/css/homepage.css"/>

    <link href='http://fonts.googleapis.com/css?family=Advent+Pro:500' rel='stylesheet' type='text/css'/>

  </head>

  <body>
    <header>
      <h1 type="welcome">Welcome to uScheme</h1>
    </header>
    <section>
      <h2>Academic life on campus made easy</h2>
      <ul>
        <form>
                    <li><span class="entry">Email: </span><input type="email" name="email" placeholder="Enter university email" required/></li>
          <li><span class="entry">Password: </span><input type="password" name="password" placeholder="Enter password" required/></li>
          <li></br></li>
          <li> <!--<button>Sign In</button>-->
            <input type="submit" value="Sign in" name="in"/> 
        </form>
      </ul>
    </section>
    <footer>
      <ul>
        <li class = "menu"><a href="#">About uScheme</a></li>
        <li class = "menu"><a href="#">Help</a></li>
      </ul>
    </footer>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  </body>
</html>