<DOCTYPE! html>
<html lang = "en">

<head>
  <meta charset = "utf-8">
  <title>Student Academic Hub</title>
  <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../static/css/landingpage.css"/>
  <link href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css'>
</head>

<body>
  <header>
    <h1>Student Academic Hub</h1>
  </header>
  <section>
    <h2> Welcome, {{Name}}</h2>
    <ul>
      <li><a href="#" class="round blue">Calendar<span class="round">View your events calendar in weekly or monthly view.</span></a></li>
      <li><a href="/gpa" class="round green">Grades<span class="round">View your current grades and GPA.</span></a></li>
	    <li><a href="/map" class="round yellow">Map<span class="round">Take a peek at your class locations on campus.</span></a></li>
      <li><a href="#" class="round orange">My Home<span class="round">A personalized look at your life on campus.</span></a></li>
      <li><a href="#" class="round red">Schedule<span class="round">Take a look at your weekly class schedule.</span></a></li>
      <li><a href="#" class="round purple">Bulletin<span class="round">Keep up with student life on campus.</span></a></li>
      <li><a href="#" class="round indigo">Keep Austin Weird<span class="round">Keep Austin Weird!</span></a></li>
    </ul>
  </section>
</body>

</html>
