<DOCTYPE! html>
<html lang = "en">
<head>
  <meta charset = "utf-8">
  <title>Maps</title>
  <link rel="stylesheet" type="text/css" href="../static/css/maps.css"/>
  <link href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
    <h1>Maps</h1>
  </header>

  <h2>A visualization of the locations of your classes this semester</h2>

<section>
  <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="1000" height="700" src="https://maps.google.com/maps?hl=en&q=University of Texas&ie=UTF8&t=roadmap&z=16&iwloc=B&output=embed"><div><small><a href="http://embedgooglemaps.com">embedgooglemaps.com</a></small></div><div><small><a href="http://premiumlinkgenerator.com/keep2share-cc">keep2share premium link generator</a></small></div></iframe>
</section>
</body>

</html>
